@import "./base.css";

body {
	background-color: var(--color-background);
	color: var(--font-color-main);
	min-width: 380px;
	font-family: 'Inter', Verdana;
}

input[type="checkbox"] {
	accent-color: var(--color-stura-main);
}

.highlighted-btn,
.default-btn {
	color: var(--font-color-main);
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	/* width: 100%; */
	/* height: 100%; */
	transition: background-color 0.3s;
	/* Smooth color change on hover */
	padding: 0.5rem 1rem;
}

.highlighted-btn {
	background: var(--color-button-highlight);
	color: white;
}

.highlighted-btn:hover,
.highlighted-btn:active,
.highlighted-btn:focus {
	background: var(--color-button-highlight-hover);
}

.default-btn {
	background: var(--color-button-default);
}

.default-btn:hover,
.default-btn:active,
.default-btn:focus {
	background: var(--color-button-default-hover);
}

.text-input {
	box-sizing: border-box;
	padding: 0.5rem;
	border-radius: 50px;
	background: white;
	text-align: center;
	color: var(--font-color-main);
	transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
	border-color: var(--color-stura-main);
	box-shadow: 0 0 4px var(--color-stura-main);
	outline: none;
}

.router-link-active {
	background: var(--color-button-highlight);
	color: white;
}

.router-link-active:hover,
.router-link-active:active,
.router-link-active:focus {
	background: var(--color-button-highlight-hover);
	color: white;
}

#app {
	max-width: 1280px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

/*
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* ################# Tailwindcss custom classes ####################### */

/* Utils */
.colorButton {
	@apply flex items-center justify-center w-full h-18 rounded-4xl bg-[#5aa49c] duration-200 hover:bg-white
}
.colorButton span {
  	@apply text-2xl font-bold transition-colors text-white group-hover:text-white;
}

/* Landing page */
.enterButton {
	@apply flex flex-col items-center justify-center w-full aspect-square rounded-4xl bg-[#5aa49c] hover:bg-white duration-200
}

.enterButton span {
	@apply text-xl font-bold text-white group-hover:text-black duration-200 ease-in-out;
}

.landingButton {
	@apply flex items-center justify-center w-full h-18 rounded-4xl bg-white duration-200 hover:bg-[#5aa49c];
}

.landingButton span {
  	@apply text-xl font-bold transition-colors group-hover:text-white;
}