@import "./base.css";

body {
	@apply bg-[var(--color-background)] text-[var(--font-color-main)] min-w-[380px];
	font-family: 'Inter', Verdana;
}

#app {
	@apply m-0 p-0 max-w-[1280px] font-normal;
}

input[type="checkbox"] {
	@apply accent-[var(--color-stura-main)];
}

input:focus {
	@apply outline-none shadow-[0_0_4px_var(--color-stura-main)];
}

/* MARKED FOR DELETION DO NOT FURTHER USE */
.text-input {
	box-sizing: border-box;
	padding: 0.5rem;
	border-radius: 50px;
	background: white;
	text-align: center;
	color: var(--font-color-main);
	transition: border-color 0.3s, box-shadow 0.3s;
}

/* ################# Tailwindcss custom classes ####################### */

/* Utils */
.colorButton {
	@apply flex w-full h-18 justify-evenly items-center rounded-4xl bg-[#5aa49c] text-white duration-200 hover:bg-white hover:text-black;
}
.colorButton span {
  	@apply text-2xl font-bold;
}

/* Landing page */
.enterButton {
	@apply flex flex-col items-center justify-center w-full aspect-square rounded-4xl bg-[#5aa49c] hover:bg-white duration-200
}

.enterButton span {
	@apply text-xl font-bold text-white group-hover:text-black duration-200 ease-in-out;
}

.landingButton {
	@apply flex items-center justify-center w-full h-18 rounded-4xl bg-white duration-200 hover:bg-[#5aa49c];
}

.landingButton span {
  	@apply text-xl font-bold transition-colors group-hover:text-white;
}

/* Dashboard */
.navbarItem {
	@apply flex h-full aspect-square justify-center items-center rounded-3xl
}

.router-link-active {
	@apply bg-[#5aa49c] text-white;
}